*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

body{
    /* background-color: black; */
    background: url("../img/keyboard3.webp");
    background-position: center;
    background-size: 150vw 160vh;
    opacity: 8.5;
    overflow: hidden;

}

#logo{
    color: white;
    font-size: 2rem;
    margin-left: 4rem;
}
.navbar{
    /* background-color: black; */
    padding: 1rem;
    height: 13vh;

}

ul{
    display: flex;
    justify-content: center;
}
 
li a{
    margin-left: 5rem;
    color: white;
    font-size: 1.5rem;
    padding: .8rem;
}

li a.home,
li a:hover{
 background-color: rgb(58, 150, 153);
 border-radius: 1rem;
}

.drawer{

    background-color: rgb(58, 150, 153);
    height: 70vh;
    width: 50vw;

    font-size: 2rem;
    position: fixed;
    top: 0; right: -101%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding: 1rem;
    border-radius: 2rem;
}

.drawer.active{
    top:10%; right: 0;
    transition: .4s linear ;
}
.drawer a{
    margin-top: 1.5rem;
    color: white;
    padding: 1rem;

}

.drawer a:hover{
    background-color: rgb(78, 198, 202);
    border-radius: 1rem;
}
.icon{
    font-size: 2.5rem;
    color: white;
    display: flex;
    justify-items: center;
    
}
#menu {
    position: fixed;
    right: 7%; top: 5%;
    display: none;
    cursor: pointer;
    background-color: rgb(58, 150, 153);
    border-radius: 3px;
    width: 3.5rem;
    height: 3rem;
    text-align: center;
}


#closer{
    position: fixed;
    right: 53%; top: 13%;
    display: none;
    cursor: pointer;
}


.profile{
    display: flex;
    margin-top: 7rem;
    margin-bottom: 3rem;
}
#background{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 150, 153);
    width: 18vw;
    height: 40vh;
    border-radius: 2rem;
    margin-left: 25rem;
    
    
}
#photo{
    width: 15vw;
    border-radius: 2rem;
}
#first{
    color: white;
    font-size: 1.5rem;
    margin-left: 8rem;


}
#second{
    color: white;
    font-size: 5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 2rem;
    margin-bottom: 2rem;   
    display: block;
}

#third{
    color: rgba(92, 255, 247, 0.897);
}

#btn{
     background-color: rgb(58, 150, 153);
     color: white;
     padding: .7rem;
     font-size: 1.3rem;
     margin-left: 14rem;
     border-radius: 1rem;
}

#btn:hover{
    background-color: rgb(78, 198, 202);
}













/* CSS Of contact.html */
.contact{
    color: white;
    margin-bottom: 3rem;
}

#cont{
    display: block;
     font-size: 3rem;
    margin-left: 3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(92, 255, 247, 0.897);
    margin-bottom: 6rem;
}

#name{
    margin-left: 33rem;
    margin-top: 3rem;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#no{
        margin-left: 33rem;
        margin-top: 3rem;
        font-size: 2rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#oo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(164, 252, 255);
}


.touch{
    margin-bottom: 3rem;
   
}


#icons{
    color: rgb(164, 252, 255);
    margin-top: 12rem;
    margin-left: 8rem;
    font-size: 1.5rem;
    cursor: pointer;
}

#icons:hover{

color: rgb(78, 198, 202);

}


































































@media (max-width:1150px){

    html{
        font-size: 80%;
    }
    #background{
        height: 35vh;
    }
}


@media(max-width:980px){

    html{
        font-size: 70%;
    }

    li a{
        display: none;
    }

    #menu {
        display:inline-block;
        
   }

   #background{
       height: 33vh;
       margin-left: 20rem;
    }
}


@media(max-width: 892px){

    html{
        font-size: 65%;
    }

    #background{
        height: 27vh;
        margin-left: 17rem;
    }

}


@media(max-width:800px){

    html{
        font-size: 58%;
    }

    #background{
        margin-left: 10rem;
    }
}



@media(max-width:699px){
    html{
        font-size: 50%;
    }

    

    #background{
        height: 20vh;
        width: 20vw;
    }
}



@media(max-width: 500px){

    html{
        font-size: 45%;
    }

    .profile{
        margin-top: 15rem;
    }
}


@media(max-width:420px){

    html{
        font-size: 40%;
    }

    #first{
        margin-left: 4rem;
    }

    .profile{
        margin-top: 22rem;
    }

    #background{
        height: 15vh;
        width: 18vw;
        margin-left: 7rem;
    }


}